body{
    background-color:#FF5722;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
    height: 100vh;
    }
footer{
        background-color: #00796B;     
        font-weight: 900;
        color: #FFFFFF;   
        position: sticky 0;
    }
header{
     
        background-color:#00796B;
    
        min-height: 70px;
    
        padding: 10px;

    
    }
h1{
        color: #212121;
        
        margin-right: auto;
    }

   
.imagenesBurgers{
        padding: 5%;
    }
a{
        text-decoration: none;
        color: #212121;
    }
nav a{
        font-weight: 600;
        padding-right: 10px;
    }
nav a:hover{
        color: beige;
    }
.caja{
     
    background-image: url(../images/burger\ inicio.jpg);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .wrap{
        background-color: rgba(243,243,243,0.2);
        border: solid 2px #ffffff40 ;
        box-shadow: 0 0 0 25px #222;
        width: 350px;
        text-align: center;
        box-shadow: 0 10px 30px #000;
        backdrop-filter: blur(1px);
    
    }
    
    
.imagenPortada{
        border-radius: 200px;
        width: 310px;
        height: 310px;
       margin-right: 25px;
    }
.imagenContenidoPrincipal{
    background-image: url(../images/Burger\ 5.jpg);
    width: auto;
    height: 500px;

}
.contenidoPrincipal{
        color: #FFFFFF;
        font-family: sans-serif;
        font-size: 150%; 
        padding-top: 50px;
              
        
    }
h4{
        font-size: 30px;
    }
.ParrafoWrap{
        font-size: 15px;
        color: #0f0f0f;
        border: 2px solid #2121211e;
        height: 200px;
        width: 400px;
        backdrop-filter: blur(0,5px);
        box-shadow: 0 10px 30px rgba(238, 129, 4, 0.336) ;
        background-color: rgba(255, 120, 9, 0.432);

       
    

    }
.Concepto{
        font-size: x-large;
    }
.ParrafoConcepto{
        font-size: large;
        font-family:sans-serif;
    }

.calles{
        position: relative;
    
        font-size: 18px;
        }
        .numerosFooter{ 
            font-size: 18px;
            }
            .redes{     
                font-size: 18px;
            }
            .footerSubtitulo{
                font-size: 25px;
            } 
.boton{
        background-color: #212121;
        color: #FF5722;
        border: 1px solid;
        padding: 20px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 30px;
    
        
}
.cajaImagen{
    background-color: #00796B;
    width: 100%;
    height: 100%;
    display: inline;
}
.boton:hover{
    color: #FFFFFF;
}

