/*franquicia*/

@media (min-width: 576px){ main{
    
    .carta-f {
        width: 80%;
        position: relative;
        left: 4rem;
        }
    
        .imagenFranquiciaa{
            width:($ancho/2)+160;
        }
    }
            .maps{
                width: ($ancho/2)+60;
                height: ($altura/2)+160;
            }       
        
    }
@media (min-width: 768px){  main{
        .carta-f {
            width: 60%;
        }
            .imagenFranquiciaa{
                width: $ancho;
            }
        }
            .maps{
                width: ($ancho/2)+32;
                height: ($altura/2)+120;
            }
    }
@media (min-width: 992px){main{
        .carta-f {
            width: 50%;

            
        }
    }
            .maps{
                width: ($ancho/2)+80;
                height: ($altura/2)+120;
            }
 
    }

    /*formulario*/ 
    @media (max-width: 576px){ main{
        .formulario{
            background-color:#058d7de5;      
            }
        }    
    }

    @media (max-width: 768px){ main{
        .formulario{
            background-color:#058d7de8;
            }
        }         
    }

    /*index*/
     @media (max-width: 576px){ body{
       .caja{
            background-image: url(../images/burger_7.jpg);
            
       }

    
            .imagenPortada{
                object-fit: cover;
                position: relative;
                left: 7rem;

            }
                .ParrafoWrap{
                    background-color:#e53c0883;
                    
                }
                    .contenidoPrincipal{
                        margin-left: 7rem;                      
                    }
                    .boton{
                        width: ($ancho/4)-40;
                    }
   
    }
}
    @media (max-width: 768px) { body{
            .caja{
                background-image: url(../images/burger_7.jpg);
        }

                .imagenPortada{
                    margin-left: 7rem;
                    position: relative;
                    left: 13rem;
                    object-fit: cover;
            }
        }    
    }       

    @media (max-width: 992px){body{
        .caja{
         background-image: url(../images/burger_7.jpg);
        }
            .imagenPortada{
                object-fit: cover;
                position: relative;
                left: 7rem;
            }
        }
    }

    /*header*/
    
    @media (max-width: 576px){ header{
        .logoBurguer{
            position: relative;
            left: 3rem;
        }
                     
    
     }
 }

 @media (max-width: 768px){ header{
    .logoBurguer{
        position: relative;
        left: 3rem;
    }
                 

 }
}