@import "fonts";
@import "variables";
@import "mixins";
@import "header";
@import "body";
@import "main_index";
@import "main_contacto";
@import "main_nosotros";
@import "main_menu";
@import "footer";
@import "media_queries";    
@import "fuentes";









.imagenError{
    background-image: url(../images/404-error-870x520.png);
    background-position: center;
    background-size: cover;
    height: 100vh;


}

.botonError{
    border-radius: 30px;
    background-color: #212121;
    color: #FF5722;
    width: 15rem;
    height: 3rem;
    font-size: 30px;
}
.botonError:hover{
    background-color: #FF5722;
    color: #212121;
}

.error{
    top: 9rem;
}